@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}

* {
    @apply focus:outline-dogger-orange-500;
}

.btn {
    @apply rounded font-semibold px-5 py-2;
    font-size: 16px;

    &.primary {
        @apply bg-dogger-orange-400 text-white hover:bg-dogger-orange-500;
    }
    &.warning {
        @apply bg-red-500 text-white hover:bg-red-600;
    }
    &.generic {
        @apply bg-white border border-gray-300 text-gray-900 hover:bg-gray-50;
    }
}

form {
    * {
        @apply focus:outline-none;
    }

    input,
    textarea,
    input[type='password'],
    input[type='number'],
    input[type='email'],
    input[type='phone'],
    input[type='text'],
    input[type='url'],
    select {
        @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-dogger-orange-500 focus:ring-dogger-orange-500 text-sm border py-3 px-3;
    }

    label {
        @apply block mb-2 mt-3 text-sm font-medium text-gray-900;
    }

    .form-error-div {
        label {
            @apply text-red-500;
        }

        input,
        textarea,
        select {
            @apply border-red-500;
        }
    }

    .form-error-field {
        @apply text-red-500 text-sm font-normal mt-1;
    }
}